<div class="introduction_container">
  <h1>Todos web app</h1>
</div>
<div class="todo_project_container">
  <div class="loading" *ngIf="isLoading"></div>
  <!-- <div class="info"><fa-icon class="icon" [icon]="faInfo"></fa-icon></div> -->

  <div class="project_todo">
    <div class="project_todo_header todo_flex">
      <h3>Todos</h3>
      <fa-icon
        class="icon"
        [icon]="faPlus"
        *ngIf="!isCreatingTodo"
        (click)="createTodo()"
        style="color: #fff"
      ></fa-icon>

      <div class="add_todo" *ngIf="isCreatingTodo">
        <span class="p-input-icon-right">
          <i
            class="pi pi-save"
            style="cursor: pointer; color: var(--green-2)"
            (click)="saveTodo()"
          ></i>
          <input
            style="width: 100%"
            type="text"
            pInputText
            [(ngModel)]="todoDescription"
          />
        </span>
        <fa-icon
          class="icon"
          [icon]="faXmark"
          (click)="closeAddTodo()"
        ></fa-icon>
      </div>
    </div>
    <div class="todos" *ngFor="let todo of todos?.data">
      <div class="todo todo_flex" [ngClass]="todo.isDone ? 'done' : null">
        <span class="todo_description" (dblclick)="markTodoAsDone(todo)">{{
          todo.description
        }}</span
        ><fa-icon
          class="icon"
          [icon]="faXmark"
          (click)="removeTodo(todo)"
        ></fa-icon>
      </div>
    </div>
    <p-paginator
      [rows]="2"
      [totalRecords]="totalCount"
      [pageLinkSize]="2"
      (onPageChange)="paginate($event)"
    ></p-paginator>
    <!-- <p-progressBar mode="indeterminate" *ngIf="isLoading"></p-progressBar> -->
  </div>
  <div class="api_container">
    <div class="project_todo_header todo_flex">
      <h3>Database</h3>
    </div>
    <div class="pre_container">
      <pre style="color: #fff">{{ this.jsonString }}</pre>
    </div>
  </div>
</div>
<!-- <p-toast class="custom_toast" position="top-center"></p-toast> -->
